@tailwind base;
@tailwind components;
@tailwind utilities;
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap");

html {
  font-size: 62.5%;
  box-sizing: border-box;
  scroll-behavior: smooth;
}
* {
  margin: 0;
  padding: 0;
  outline: none;
  box-sizing: inherit;
  font-family: "Roboto", sans-serif;
}
body {
  min-height: 100vh;
  overflow: hidden;
}
.log__in {
  min-height: 100vh;
  background: url("./assets/bg-login.png") no-repeat center center/ cover;
}
.load__box {
  transition: 600ms;
}
.show__load {
  @apply opacity-100 translate-y-0;
  transition: 600ms;
}
.main__page {
  @apply lg:grid lg:grid-cols-[28rem,auto] bg-slate-100;
}
.overlay::before {
  content: "";
  @apply absolute top-0 left-0 w-full h-full z-10;
  background: rgba(0, 0, 0, 0.2);
  -webkit-backdrop-filter: blur(3px);
  backdrop-filter: blur(3px);
}
.side__bar {
  @apply bg-white h-24 px-6 lg:px-8 lg:pt-16  lg:mb-0 flex justify-between items-center lg:flex-col lg:gap-12 lg:items-start lg:justify-start relative text-[#3366FF] lg:min-h-screen z-[50] lg:z-[1];
  box-shadow: 0 0 15px 5px rgba(0, 0, 0, 0.1);
}
.logo__title {
  letter-spacing: 3px;
}
.link__item {
  opacity: 0;
  transform: scale(1, 0);
  transform-origin: top right;
  @apply absolute lg:relative left-0 flex bottom-[-43rem] lg:bottom-[-24rem] w-full p-10 pb-20 items-center lg:items-start justify-between lg:justify-end flex-col bg-white  lg:opacity-100 lg:scale-[1] lg:translate-x-0 lg:bg-transparent lg:p-0 shadow-[0_5px_1.5rem_rgba(0,0,0,0.2)] lg:shadow-none;
  transition: all 600ms;
}
.link__item li:first-child {
  border-bottom: 2px solid rgba(0, 0, 0, 0.15);
}
.open__link {
  opacity: 1;
  transform: scale(1);
  transition: all 600ms;
}
.link__item li {
  @apply w-full;
}
.link__item li:nth-child(4) {
  @apply pb-6 mb-6;
  border-bottom: 2px solid rgba(0, 0, 0, 0.2);
}
.link__item a {
  @apply text-2xl lg:text-3xl text-gray-600 hover:bg-blue-600 hover:text-white font-medium py-6 px-10 w-full block rounded-2xl;
  /* transition: 300ms; */
}
.link__item li:last-child {
  @apply text-xl lg:text-3xl font-medium py-6 px-10 w-full block;
}
.link__item a.active {
  @apply bg-blue-600 text-white  relative;
}

.menu {
  @apply text-3xl relative z-50 lg:hidden;
}
.create__account,
.user__account,
.transaction__history,
.user__balance-list,
.dashboard {
  @apply py-10 px-8 relative w-[clamp(30rem,90%,90rem)] lg:h-[90vh] mx-auto;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}
.dashboard {
  @apply p-0  translate-y-[-4rem];
}
.create__account-box {
  @apply min-h-screen flex items-center justify-center;
}
.create__account {
  @apply m-auto h-[60rem] bg-white;
}

.user__account {
  @apply m-auto p-0 mb-[6rem];
  box-shadow: none;
}
.create__account > h1 {
  @apply text-5xl font-bold tracking-[2px] mb-8;
}
.header__account {
  @apply flex justify-between lg:items-center flex-col-reverse lg:flex-row  mb-10;
}
.input__search {
  @apply w-[clamp(25rem,30vw,30rem)] lg:w-full  p-3 text-xl rounded-lg pl-16;
}
.btn__add-account {
  height: inherit;
  @apply bg-blue-600 text-yellow-50 py-3 px-8 font-bold rounded-lg text-xl hover:opacity-80 w-[15rem] mb-6 lg:mb-0;
  transition: 300ms;
}
.account__list {
  @apply h-[clamp(40rem,52vw,44rem)];
  border: 1px solid rgba(0, 0, 0, 0.2);
}
.account__list > ul:first-child {
  @apply grid grid-cols-4 lg:grid-cols-5 content-center  justify-center items-center w-full text-[1rem] lg:text-[1.6rem] font-bold mb-6 py-4 px-6 bg-blue-600 text-white;
}
.account__list > ul:first-child li {
  @apply self-center;
}
.account__list-box > p {
  @apply flex items-center justify-center w-full text-3xl  
  text-gray-300 font-bold;
  height: inherit;
}
.account__list-box {
  @apply overflow-y-scroll h-[85%];
}
.account__list-box .list {
  @apply text-[1.4rem] font-medium text-gray-600 grid-cols-5 grid pb-4 mb-4 w-full relative;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.button__list {
  @apply absolute right-0 top-0 flex gap-4 text-[hsl(0,0%,50%)] opacity-0;
  transition: opacity 300ms;
}

.account__list-box .list:hover .button__list {
  @apply opacity-100;
  transition: opacity 300ms;
}
.create__account-profile {
  @apply w-[clamp(30rem,95%,45rem)] mx-auto text-center absolute top-1/2 left-1/2 translate-x-[-50%] translate-y-[-50%] p-12 z-10 bg-white rounded-lg;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
}

.create__account-profile > h1 {
  @apply font-bold text-3xl lg:text-4xl mb-6;
}
.create__account-profile input {
  @apply w-full p-4  mb-8 text-[1.4rem] lg:text-[1.6rem];
}
#inputDate::placeholder {
  @apply text-gray-400;
}
#inputBalance {
  @apply mb-12;
}
.btn__create-account {
  @apply w-full bg-blue-600 text-xl lg:text-2xl p-4 rounded-lg text-yellow-50 font-bold tracking-[1px];
}

.user__name {
  @apply text-[2.6rem] font-bold;
}
.balance {
  @apply flex items-center justify-between mb-6;
}
.balance p:first-child span:first-child {
  @apply block mb-1 text-3xl font-bold;
}
.balance .date {
  @apply text-[hsl(0,0%,70%)] text-xl;
}
.initial__balance {
  @apply text-6xl font-bold;
}
.section__transact {
  @apply grid grid-cols-[1.25fr,1fr] gap-7 p-8 mb-8 bg-white;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

.section__transact form {
  @apply rounded-xl flex items-center justify-between gap-6 w-full;
}
.section__transact form button {
  @apply rounded-lg;
}
.section__transact .widthdraw__form button {
  @apply bg-red-600;
}
.section__transact .deposit__form button {
  @apply bg-green-600;
}
.section__transact .request__form button {
  @apply bg-green-900;
}
.section__transact .transfer__form {
  @apply mb-0;
  grid-column: 1/3;
}
.section__transact .transfer__form button {
  @apply w-full bg-yellow-500;
}
.section__transact .transfer__form > div {
  @apply w-full;
}
.section__transact input {
  @apply p-5 rounded-lg text-xl;
}
.section__transact .input__transaction input {
  @apply w-1/2;
}
.section__transact .transfer__form input {
  @apply w-full;
}
.input__transaction {
  @apply flex flex-col items-center justify-between;
}
.section__transact input::placeholder {
  @apply text-[hsl(0,0%,80%)];
}
.section__transact button {
  @apply py-5 w-[18rem] uppercase text-white text-xl font-bold tracking-[1px];
}
.user__transaction > div {
  @apply w-full h-[14rem] text-center rounded-lg overflow-y-scroll py-6 pl-6 pr-4;
  border: 1px solid rgba(0, 0, 0, 0.2);
}
.account__list-box::-webkit-scrollbar,
.loan__list::-webkit-scrollbar,
.balance__list::-webkit-scrollbar,
.transaction__box::-webkit-scrollbar,
.list__expense::-webkit-scrollbar,
.user__transaction > div::-webkit-scrollbar {
  width: 1rem;
}
.account__list-box::-webkit-scrollbar-track,
.loan__list::-webkit-scrollbar-track,
.balance__list::-webkit-scrollbar-track,
.transaction__box::-webkit-scrollbar-track,
.list__expense::-webkit-scrollbar-track,
.user__transaction > div::-webkit-scrollbar-track {
  background: transparent;
}
.account__list-box::-webkit-scrollbar-thumb,
.loan__list::-webkit-scrollbar-thumb,
.balance__list::-webkit-scrollbar-thumb,
.transaction__box::-webkit-scrollbar-thumb,
.list__expense::-webkit-scrollbar-thumb,
.user__transaction > div::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.1);
  border-radius: 6px;
}

.user__transaction div > p,
.list__expense > p {
  @apply flex items-center justify-center text-2xl text-[hsl(0,0%,60%)];
  height: 100%;
}
.header__transaction {
  @apply grid  grid-cols-[.3fr,0.8fr,1.5fr,1fr] text-left text-xl font-bold bg-blue-600 text-white py-4 px-2;
}
.user-transaction__history {
  @apply text-left grid-cols-[.3fr,0.8fr,1.5fr,0.8fr] grid mb-4 pb-4;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.expense__list {
  @apply grid grid-cols-1 p-8 bg-white;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}
.expense__list h2 {
  @apply text-3xl mb-4 font-bold uppercase text-gray-900;
}
.list__expense {
  @apply w-full h-[8rem] rounded-lg  mb-6 overflow-y-scroll;
  border: 1px solid rgba(0, 0, 0, 0.2);
}
.header__expense {
  @apply grid  grid-cols-[0.5fr,1.5fr,1.5fr,1fr]  text-xl font-bold items-center content-center bg-blue-600 text-white py-4 px-2;
}
.expense__item {
  @apply grid grid-cols-[0.5fr,1.5fr,1.5fr,1fr] relative text-xl font-medium py-3 mb-3;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}
.expense__item .expense__buttons {
  @apply absolute right-5 top-1/2 translate-x-[-50%] translate-y-[-50%] flex gap-4 text-2xl opacity-0;
  transition: 300ms;
}
.expense__item:hover .expense__buttons {
  @apply opacity-80;
  transition: 300ms;
}

.adding__expense {
  @apply grid grid-cols-3 gap-12;
}
input {
  @apply w-full p-5 text-xl rounded-lg;
  border: 1px solid rgba(0, 0, 0, 0.15);
}
.btn__add-expense {
  @apply py-4 px-12 bg-red-500 text-xl uppercase font-bold text-white rounded-lg;
}
.balance__box,
.dashboard__section {
  @apply grid place-items-center px-0 lg:px-10  w-[clamp(30rem,80vw,90rem)] mx-auto;
}

.dashboard__section {
  @apply flex items-center justify-center min-h-screen;
}
.user__balance-list {
  @apply h-[48rem] w-full bg-white;
}
.user__list {
  @apply grid grid-cols-[1fr,1.5fr,2fr,1fr] bg-blue-600 text-white p-4  text-[1.8rem] font-bold;
}
.balance__list {
  @apply border-[2px] border-t-0 h-3/4 p-2 overflow-y-scroll;
}
.balance__list .list {
  @apply grid  grid-cols-[1fr,1.5fr,2fr,1fr] mb-4 pb-2 text-[1.6rem] pl-4 font-medium;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}
.dashboard {
  @apply w-full h-3/4  m-auto;
  box-shadow: none;
}
.transaction__list {
  @apply text-xl py-4 font-medium;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}
.goTo__account::before {
  content: "";
  @apply absolute bottom-[-5px] left-0 w-0 h-[2px] bg-gray-400 rounded-full;
  transition: 600ms;
}
.goTo__account:hover::before {
  @apply w-full;
  transition: 600ms;
}
